.login-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-image {
  height: 90px !important;
}
.login-card {
  min-width: 500px;
}
.login-pane {
  padding: 1rem;
}
