.btn {
  background-color: var(--gray-200);
  border: 1px var(--gray-700) solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 12px;
  border-radius: 0.4rem;
  outline: none;
  cursor: pointer;

  .btn-icon {
    height: 15px;
  }
  .btn-label {
    padding-inline-start: 0.5rem;
    color: var(--gray-700);
  }
}
.btn:hover {
  background-color: var(--gray-700);
  .btn-label {
    color: var(--gray-200);
  }
  transition: all 0.3s ease-in;
}
