.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  padding: 0%;
  margin: 0%;
}
.input-label {
  font-size: medium;
  font-weight: 600;
  color: var(--gray-800);
  padding-inline: 0.3rem;
  padding-block: 0;
  margin: 0;
}
.form-control {
  height: 40px;
  padding: 0.7rem;
  border-radius: 0.5rem;
  border: 1px rgba(0, 0, 0, 0.2) solid;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
    rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
  box-sizing: border-box !important;
  width: 100% !important;
}
.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.58rem;
}

input.form-control:focus,
input.form-control:focus-visible,
input.form-control:focus-within {
  outline: none;
  border: 1px solid var(--primary-color) !important;
}
input.form-input:focus,
input.form-input:focus-visible,
input.form-input:focus-within {
  outline: none;
}
textarea.form-input:focus,
textarea.form-input:focus-visible,
textarea.form-input:focus-within {
  outline: none;
}
