:root {
  --header-height: 90px;
}

@page {
  size: A4 portrait;
  margin: 0px;
  margin-block: 0px !important;
  margin-inline: 0px !important;
  padding-block: 0px !important;
  padding-inline: 0px !important;
}

.abg-container {
  height: 100vh; /* Full viewport height */
  width: calc(100% - 1rem);
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

* {
  /* border: 1px red solid; */
}

.form-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-inline-end: 0.5rem;
}

.form-container:has(input[type="checkbox"]) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}

.form-input {
  border-radius: 0% !important;
  border-top: none !important;
  border-inline: none !important;
  border-bottom: 1px var(--gray-700) solid;
  width: calc(100% - 1.5rem);
}

.form-label {
  text-transform: capitalize;
  font-weight: 600;
}

.form-container-row {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.5rem;
  padding-inline-end: 0.5rem;
}

.header {
  width: 100%;
  height: max-content;
  flex-shrink: 0; /* Prevent shrinking */
  display: flex;
}

.header-title {
  height: max-content;
  flex-shrink: 0; /* Prevent shrinking */
  display: flex;
  justify-content: center;
}

.logo {
  padding-block: 1rem;
  padding-inline: 0.5rem;
}

.header-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
  padding-block: 0.5rem;
  text-align: center;
}

.header-right {
  text-wrap: nowrap;
  padding-inline: 0.5rem !important;
}

.header-right > div {
  padding-inline: 1rem;
  padding-block: 0.1rem;
  border-inline: 1px black solid;
  text-align: center;
}

.header-right > div {
  border-top: 1px black solid;
}

.header-right > div:first-child {
  border-top: 1px black solid;
}

.header-right > div:last-child {
  border-bottom: 1px black solid;
}

.body {
  flex-grow: 1;
  padding: 0.3rem;
}

.logo-height {
  height: 70px;
}

.checkboxes {
  margin-top: 2rem;
}

table,
tr,
td {
  margin: 0;
  padding: 0;
  /* border: 1px black solid !important; */
}

td {
  padding-block: 0.4rem;
}

.footer {
  padding-inline: 3rem;
  padding-block: 2rem;
  gap: 3rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media print {
  body {
    height: 100vh; /* Full viewport height */
    width: calc(100% - 1rem);
    font-family: Arial, sans-serif;
    color: #000;
    background: #fff;
    font-size: 0.9rem;
  }

  :root {
    --header-height: 90px;
  }

  .abg-container {
    height: 100vh; /* Full viewport height */
    width: calc(100% - 1rem);
    display: flex;
    flex-direction: column;
  }
  .form-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-inline-end: 0.5rem;
  }

  .form-container:has(input[type="checkbox"]) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
  }

  .form-input {
    border-radius: 0% !important;
    border-top: none !important;
    border-inline: none !important;
    border-bottom: 1px var(--gray-700) solid;
    width: calc(100% - 1.5rem);
  }

  .form-label {
    text-transform: capitalize;
    font-weight: 600;
  }

  .form-container-row {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    padding-inline-end: 0.5rem;
  }

  .header {
    width: 100%;
    height: max-content;
    flex-shrink: 0; /* Prevent shrinking */
    display: flex;
  }

  .header-title {
    height: max-content;
    flex-shrink: 0; /* Prevent shrinking */
    display: flex;
    justify-content: center;
  }

  .logo {
    padding-block: 1rem;
    padding-inline: 0.5rem;
  }

  .header-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    padding-block: 0.5rem;
    text-align: center;
  }

  .header-right {
    text-wrap: nowrap;
  }

  .header-right > div {
    padding-inline: 1rem;
    padding-block: 0.1rem;
    border-inline: 1px black solid;
    text-align: center;
  }

  .header-right > div {
    border-top: 1px black solid;
  }

  .header-right > div:first-child {
    border-top: 1px black solid;
  }

  .header-right > div:last-child {
    border-bottom: 1px black solid;
  }

  .body {
    flex-grow: 1;
    padding: 0.3rem;
  }

  .logo-height {
    height: 70px;
  }

  .checkboxes {
    margin-top: 2rem;
  }

  table,
  tr,
  td {
    margin: 0;
    padding: 0;
    /* border: 1px black solid !important; */
  }

  td {
    padding-block: 0.4rem;
  }

  .footer {
    padding-inline: 3rem;
    padding-block: 2rem;
    gap: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
