/* Modal backdrop */
.modal-backdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5) !important;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  z-index: 1002;
}

/* Modal container */
.modal-container {
  border-radius: 0.5rem; /* Equivalent to rounded-lg */
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.modal-header h2 {
  font-size: 1.3rem;
  font-weight: 600;
  padding-inline-start: 0.5rem;
}
.modal-close:hover {
  color: #1f2937;
}
.modal-close {
  padding: 0.4rem 0.8rem;
  color: #4b5563;
  cursor: pointer;
  border: none !important;
  font-size: 2rem;
  box-shadow: none !important;
  background-color: transparent !important;
}
.modal-close:hover {
  color: rgb(111, 124, 142);
}
.modal-header,
.modal-footer {
  background-color: #fbfbfb !important;
}
/* Header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: white;
  padding-block: 1rem !important;
  padding-inline-start: 1rem !important;
  padding-inline-end: 1.3rem !important;
  border-radius: 1rem 1rem 0 0;
  border-bottom: 1px solid var(--gray-200) !important;
}
/* Body */
.modal-body {
  background-color: rgb(255, 255, 255);
  flex: 1;
  overflow-x: hidden;
  height: 350px !important;
  /* height: fit-content; */
  padding: 2rem !important;
}
/* Footer */
.modal-footer {
  border-top: 1px solid var(--gray-200) !important;
  background-color: white;
  padding: 1rem !important;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  justify-content: flex-end;
  scroll-padding: 1rem;
}

.modal-footer .cancel-btn {
  padding: 0.5rem 1rem;
  background-color: #6b7280;
  color: white;
  border-radius: 0.375rem;
  cursor: pointer;
  border: none;
}

.modal-footer .cancel-btn:hover {
  background-color: #4b5563;
}
