body {
  margin: 0;
  padding: 0;
}
.internal-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 10svh;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.content {
  flex-grow: 1;
  width: 100%;
}
