body {
  margin: 0;
  padding: 0;
}
.internal-header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  padding-block: 1rem !important;
}
.internal-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 10svh;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

.content {
  flex-grow: 1;
  padding-inline: 2rem;
  overflow: auto;
  padding-block: 2rem;
}
